<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container">
    <p>This is on the right</p>
    <img src="<%= require('./img/basketball.png') %>" alt="" />
  </div>
  </div>
</body>

</html>